<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:context="http://www.springframework.org/schema/context"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
  http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<context:annotation-config />
	<context:component-scan base-package="org.anaolabs" annotation-config="true" />
	

	<!--
		*****************************************************************************************************************
		* Access to external properties 
		*****************************************************************************************************************
	 -->
	<!-- OLD STYLE -->
	<!--
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:org/anaolabs/spring/orange/placeholder/one/service.properties</value>
			</list>
		</property>
	</bean>
	-->
	
	<!-- NEW STYLE -->
	<context:property-placeholder location="classpath:org/anaolabs/spring/orange/placeholder/one/service.properties"/>

	
	<!--
		*****************************************************************************************************************
		* Beans accessing properties referenced by PropertyPlaceholderConfigurer
		*****************************************************************************************************************
	 -->
	
	<bean id="propsHolder" class="org.anaolabs.spring.orange.placeholder.ExternalPropertiesHolder">
		<property name="directory" value="${writer.party.directory}"/>
		
		<!-- Propriétés Système : non settées dans fichier .properties -->
		<property name="userDir" value="${user.dir}"/>
		<property name="fileSeparator" value="${file.separator}"/>
	</bean>

</beans>